
@model IEnumerable<BugTracker.Models.Projects>;
@{
    ViewData["Title"] = "Project Details";
}

<div class="container row p-0 m-0">
    <div class="col-8">
        <h2 class="text-info">Project List</h2>
    </div>
    <div>
        @Html.ActionLink("Create New Project", "Create")
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Count() > 0)
            {
            <table id="proj_table" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Author</th>
                        <th>Programming Language</th>
                    </tr>
                </thead>
                <tbody>
                       
                        @foreach (var item in Model)
                        {
                            if (item.userId == ViewBag.userId)
                            {
                                <tr>

                                    <td>
                                        @Html.ActionLink(item.ProjectName, "Project", "Project", new { id = item.Id })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Author)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.projectLanguage)
                                        <div id="parent_div_1">
                                            <div class="child_div_2">
                                                @using (Html.BeginForm("Delete", "Project", new { id = item.Id }))
                                                {
                                                    @Html.AntiForgeryToken()

                                                    <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                                                }
                                            </div>
                                            <div class="child_div_2">
                                                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                            </div>
                                        </div>
                                    </td>

                                  

                                    

                                </tr>
                            }
                        }

                </tbody>
                <tfoot>
                </tfoot>
            </table>
            }
            else
            {
                <p> No Projects to Display! </p>
            }
        </form>
    </div>
</div>





@section Scripts{
    <script src="~/js/DataTables.js"></script>
}
