
@model IEnumerable<BugTracker.Models.Projects>;
@{
    ViewData["Title"] = "Project Details";
}

<div class="container row p-0 m-0">
    <div class="col-8">
        <h2 class="text-info">Project List</h2>
    </div>
    <div>
        @Html.ActionLink("Create New Project", "Create")
    </div>
</div>
<br />

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="my-projects-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
           aria-selected="true">My Projects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="assigned-projects-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
           aria-selected="false">Assigned Projects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="completed-projects-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
           aria-selected="false">Completed Projects</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="my-projects-tab">
        <div class="col-12 border p-3 mt-3">
            <form method="post">
                @if (Model.Count() > 0)
                {
                    <table id="proj_table" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Project Name</th>
                                <th>Author</th>
                                <th>Programming Language</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                if (item.userId == ViewBag.userId)
                                {
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            @Html.ActionLink(item.ProjectName, "Project", "Project", new { id = item.projectId })
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Author)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.projectLanguage)
                                            <div id="parent_div_1">
                                                <div class="child_div_2">


                                                    @using (Html.BeginForm("Delete", "Project", new { id = item.projectId }))
                                                    {
                                                        @Html.AntiForgeryToken()

                                                        <a style="color:whitesmoke" class="btn btn-danger delete"
                                                           data-id="@item.projectId"
                                                           data-controller="Project"
                                                           data-action="Delete"
                                                           data-body-message="Are you sure you wish to delete?"
                                                           data-redirect-url="/Project/Index"> Delete </a>

                                                    }
                                                </div>
                                                <div class="child_div_2">
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.projectId })
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                }
                            }

                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                }
                else
                {
                    <p> No Projects to Display! </p>
                }
            </form>
        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="assigned-projects-tab">...</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="completed-projects-tab">...</div>
</div>



@section Scripts{
    <script src="~/js/DataTables.js"></script>
    <script src="~/js/delete.js"></script>
}
