@page
@model BugTracker.Areas.Identity.Pages.Account.Manage.ProfileStatsModel

@{
    ViewData["Title"] = "Profile Statistics";
    ViewData["ActivePage"] = ManageNavPages.ProfileStats;
}

<h2>
    Profile Stats
</h2>
<div class="form-group">
    <label asp-for="myUserId"></label>
    <input asp-for="myUserId" class="form-control" disabled />
</div>

@if (Model.myUserProjects != null)
{
    @foreach (var item in Model.myUserProjects)
    {
        if (item != null)
        {
        <div>
            Project --
            @item.projectId
            @item.Id
            @item.Project.projectLanguage
            <br />
        </div>
        <br />
            }
        }
    }


<form id="friend-form" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.FriendUserName"></label>
        <input asp-for="Input.FriendUserName" class="form-control" />
        <span asp-validation-for="Input.FriendUserName" class="text-danger"></span>
    </div>
    <button id="update-friend-button" type="submit" class="btn btn-primary">Submit</button>
</form>

@foreach (var item in Model.UserFriends)
{
    <div>
        @item.reciever
        @item.recieverId
        <br />
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}