@page
@model BugTracker.Areas.Identity.Pages.Account.Manage.ProfileStatsModel

@{
    ViewData["Title"] = "Profile Statistics";
    ViewData["ActivePage"] = ManageNavPages.ProfileStats;
}

<br />

<h2>
    Profile Stats
</h2>
<div class="form-group">
    <label asp-for="myUserId"></label>
    <input asp-for="myUserId" class="form-control" disabled />
</div>

@if (Model.myUserProjects != null)
{
    @foreach (var item in Model.myUserProjects)
    {
        if (item != null)
        {
            <div>
                Project --
                @item.projectId
                @item.Id
                @item.Project.projectLanguage
                <br />
            </div>
            <br />
        }
    }
}

    <div id="toastSuccess" class="toast" style="background-color: lightgreen; position: absolute; top: 0; right: 0;" data-delay="2000">
        <div class="toast-header">
            <strong style="text-align: center" class="mr-auto">Success</strong>
            <small></small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Friend request was successfully sent!
        </div>
    </div>



    <div id="toastFailure" class="toast" style="background-color: lightcoral; position: absolute; top: 0; right: 0;" data-delay="2000">
        <div class="toast-header">
            <strong style="text-align:center" class="mr-auto">Failure</strong>
            <small></small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Error sending friend request!
        </div>
    </div>


<form id="friend-form" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.FriendUserName"></label>
        <input asp-for="Input.FriendUserName" class="form-control" />
        <span asp-validation-for="Input.FriendUserName" class="text-danger"></span>
    </div>
    <button id="update-friend-button" type="submit" class="btn btn-primary">Submit</button>
</form>


@foreach (var item in Model.UserFriends)
{
    <div>
        @item.sender
        @item.senderId
        <br />
    </div>
}



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/SearchControl.js"></script>

    <script>
        $(function(){
            var msg = "@(TempData["Msg"] as string)";
            if (msg == "Success") {
                $('#toastSuccess').toast('show');
            }
            else if (msg == "Failure") {
                $('#toastFailure').toast('show');
            }
        });
    </script>

}
