@using Microsoft.AspNetCore.Identity
@using BugTracker.Areas.Identity.Data
@using Microsoft.AspNetCore.Authorization

@inject SignInManager<BugTrackerUser> SignInManager
@inject UserManager<BugTrackerUser> UserManager
@model IEnumerable<BugTracker.Models.Projects>;

<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

@{
    ViewData["Title"] = "Home Page";
}

@if (!SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}
else
{
    <div class="text-center jumbotron">
        <h1 class="display-4">Welcome @User.Identity.Name!</h1>
    </div>

    <div class="container col-mb-12">
        Recent Projects
        <div class="container col-mb-12">
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <td>
                        <p> Project Name </p>
                    </td>
                    <td>
                        <p> Author </p>
                    </td>
                    <td>
                    </td>
                </tr>
                @if (Model.Count() > 0)
                {
                    var display_num = 3;
                    @foreach (var item in Model)
                    {
                        if (display_num > 0 && item.userId == ViewBag.userId)
                        {
                            <tr>

                                <td>
                                    @Html.ActionLink(item.ProjectName, "Project", "Project", new { id = item.Id })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Author)
                                </td>
                            </tr>
                            display_num--;
                        }
                    }
                }
                else
                {
                    <img src="..." class="rounded col-mb-4" alt="...">
                    <img src="..." class="rounded col-mb-4" alt="...">
                    <img src="..." class="rounded col-mb-4" alt="...">
                }
            </table>
        </div>
    </div>

    // Port Code to a method in HomeController
    /*
    var ticket1 = new Tickets();
    var ticket2 = new Tickets();
    var ticket3 = new Tickets();

    int index = 0;

    index = 0;
    // Store the 3 most recent tickets
    foreach (var ticket in ViewBag.Tickets)
    {
        if (ticket.userId == ViewBag.userId)
        {

            if (index % 3 == 0)
            {
                ticket1 = ticket;
            }
            else if (index % 3 == 1)
            {
                ticket2 = ticket;
            }
            else if (index % 3 == 2)
            {
                ticket3 = ticket;
            }

            index++;
        }
    }

    // Reorganization
    if (index % 3 == 0)
    {
        var tempT3 = ticket3;

        ticket3 = ticket1;
        ticket1 = tempT3;
    }
    else if (index % 3 == 1)
    {
        var tempT2 = ticket2;

        ticket2 = ticket3;
        ticket3 = tempT2;

    }
    else if (index % 3 == 2)
    {
        var tempT1 = ticket1;

        ticket1 = ticket2;
        ticket2 = tempT1;
    }
    */

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Recent Tickets</h6>

        <div class="media text-muted pt-3">
            @Html.Raw(ViewBag.ticket1Image)

            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">@ViewBag.ticket1.TicketName</strong>
                @ViewBag.ticket1.TicketDesc
            </p>
        </div>

        <div class="media text-muted pt-3">
            @Html.Raw(ViewBag.ticket2Image)

            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">@ViewBag.ticket2.TicketName</strong>
                @ViewBag.ticket2.TicketDesc
            </p>
        </div>

        <div class="media text-muted pt-3">
            @Html.Raw(ViewBag.ticket3Image)

            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">@ViewBag.ticket3.TicketName</strong>
                @ViewBag.ticket3.TicketDesc
            </p>
        </div>

        <small class="d-block text-right mt-3">
           <a href="https://localhost:44364/Ticket/Index">All Tickets</a>
        </small>
    </div>

}
