@using Microsoft.AspNetCore.Identity
@using BugTracker.Areas.Identity.Data
@using Microsoft.AspNetCore.Authorization

@inject SignInManager<BugTrackerUser> SignInManager
@inject UserManager<BugTrackerUser> UserManager
@model IEnumerable<BugTracker.Models.Projects>;

<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

@{
    ViewData["Title"] = "Home Page";
}

@if (!SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Welcome to the BugTracker!</h1>
        <h1 class="display-3">Please sign-in to continue</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <div id="container" style="width: 750px; margin:0 auto;">
        <a asp-area="Identity" asp-page="/Account/Login" style="color: inherit;">
            <div class="loginSquare" id="regularUser" style="background: khaki;">
                <div style="text-align: center; width:75%; margin:50px auto;">
                    <svg class="bi bi-person" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    </svg>
                    <h2> Regular User </h2>
                </div>
            </div>
        </a>
        <div class="loginSquare" id="admin" style="background: lightcoral;">
            <div style="text-align: center; width:75%; margin:50px auto;">
                <svg class="bi bi-person" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                </svg>
                <h2> Admin </h2>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="loginSquare" id="recruiter" style="background: lightgreen;">
            <div style="text-align: center; width:75%; margin:50px auto;">
                <svg class="bi bi-person" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                </svg>
                <h2> Recruiter </h2>
            </div>
        </div>
        <div class="loginSquare" id="exampleUser" style="background: lightskyblue;">
            <div style="text-align: center; width:75%; margin:50px auto;">
                <svg class="bi bi-person" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                </svg>
                <h2> Example User </h2>
            </div>
        </div>
    </div>
}
else
{
    <div class="profilecorner"> ADD USER INFORMATION </div>

    <div class="text-center jumbotron">
        <h1 class="display-4">Welcome @User.Identity.Name!</h1>
        <p class="lead"> This is a simple bug tracking implementation created by a guy named Jeff</p>
        <hr class="my-4" />
        <p class="lead"> If you wish to know more about me or how I implemented it, follow the link below</p>
        <a class="btn btn-primary btn-lg" href="https://localhost:44364/Contact/Index" role="button"> Learn more</a>
    </div>

    <div>
        <h1> Recent Updates </h1>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Friend Requests
                <span class="badge badge-primary badge-pill">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                New Tickets / Projects
                <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Ticket Updates
                <span class="badge badge-primary badge-pill">1</span>
            </li>
        </ul>
    </div>
    <br />


    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <div class="container col-mb-12">
            <h1>Recent Projects</h1>
            <br />
            <div class="container col-mb-12">
                <table id="proj_table" class="display" style="width: 100%">
                    <thead>
                        <tr>
                            <th style="font-size:22px">Project Name</th>
                            <th style="font-size:22px">Author</th>
                            <th style="font-size:22px">Programming Language</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            var display_num = 3;
                            var i = 0;
                            @foreach (var item in Model)
                            {
                                if ((Model.Count() - display_num) <= i)
                                {
                                    <tr>

                                        <td style="font-size:22px">
                                            @Html.ActionLink(item.ProjectName, "Project", "Project", new { id = item.projectId })
                                        </td>
                                        <td style="font-size:22px">
                                            @Html.DisplayFor(modelItem => item.Author)
                                        </td>
                                        <td style="font-size:22px">
                                            @Html.DisplayFor(modelItem => item.projectLanguage)
                                        </td>
                                    </tr>
                                }
                                i++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td></td>
                                <td></td>
                                <img src="..." class="rounded col-mb-4" alt="...">
                                <img src="..." class="rounded col-mb-4" alt="...">
                                <img src="..." class="rounded col-mb-4" alt="...">
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

        // Port Code to a method in HomeController
        /*
        var ticket1 = new Tickets();
        var ticket2 = new Tickets();
        var ticket3 = new Tickets();

        int index = 0;

        index = 0;
        // Store the 3 most recent tickets
        foreach (var ticket in ViewBag.Tickets)
        {
        if (ticket.userId == ViewBag.userId)
        {

        if (index % 3 == 0)
        {
        ticket1 = ticket;
        }
        else if (index % 3 == 1)
        {
        ticket2 = ticket;
        }
        else if (index % 3 == 2)
        {
        ticket3 = ticket;
        }

        index++;
        }
        }

        // Reorganization
        if (index % 3 == 0)
        {
        var tempT3 = ticket3;

        ticket3 = ticket1;
        ticket1 = tempT3;
        }
        else if (index % 3 == 1)
        {
        var tempT2 = ticket2;

        ticket2 = ticket3;
        ticket3 = tempT2;

        }
        else if (index % 3 == 2)
        {
        var tempT1 = ticket1;

        ticket1 = ticket2;
        ticket2 = tempT1;
        }
        */

        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Recent Tickets</h6>

            <div class="media text-muted pt-3" style="background: @Html.Raw(ViewBag.ticket1Color)">
                @if (ViewBag.ticket1.TicketName != null)
                {
                    <div style="padding-left: 20px">
                        @Html.Raw(ViewBag.ticket1Image)
                    </div>
                    <p style="padding-left: 20px; font-size:18px" class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">@Html.ActionLink((string)ViewBag.ticket1.TicketName, "Ticket", "Ticket", new { id = ViewBag.ticket1.TicketId })</strong>
                        @ViewBag.ticket1.TicketDesc
                    </p>
                }
            </div>

            <div class="media text-muted pt-3" style="background: @Html.Raw(ViewBag.ticket2Color)">
                @if (ViewBag.ticket2.TicketName != null)
                {
                    <div style="padding-left: 20px">
                        @Html.Raw(ViewBag.ticket2Image)
                    </div>
                    <p style="padding-left: 20px; font-size:18px" class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">@Html.ActionLink((string)ViewBag.ticket2.TicketName, "Ticket", "Ticket", new { id = ViewBag.ticket2.TicketId })</strong>
                        @ViewBag.ticket2.TicketDesc
                    </p>
                }
            </div>

            <div class="media text-muted pt-3" style="background: @Html.Raw(ViewBag.ticket3Color)">
                @if (ViewBag.ticket3.TicketName != null)
                {
                    <div style="padding-left: 20px">
                        @Html.Raw(ViewBag.ticket3Image)
                    </div>
                    <p style="padding-left: 20px; font-size:18px" class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">@Html.ActionLink((string)ViewBag.ticket3.TicketName, "Ticket", "Ticket", new { id = ViewBag.ticket3.TicketId })</strong>
                        @ViewBag.ticket3.TicketDesc
                    </p>
                }
            </div>

            <small class="d-block text-right mt-3" style="font-size: 20px">
                <a href="https://localhost:44364/Ticket/Index">All Tickets</a>
            </small>
        </div>

        }

