@model IEnumerable<BugTracker.Models.Projects>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-info">Pick Project to Examine</h1>

<p>
    <a> Project List </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    if (item.userId == ViewBag.userId)
    {
        <tr>
            <td>
                <div>
                @Html.ActionLink(item.ProjectName, "Project", new { id = item.projectId })
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
}
    </tbody>
</table>
